.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  height: 100vh;
  scroll-snap-align: start;

  & .contactContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;

    & .contactTitle {
      font-size: 2.5rem;
      margin: 0;
      position: absolute;
      bottom: 1rem;
      left: 3rem;
      transform: rotate(-90deg);
      transform-origin: left bottom;
      white-space: nowrap;
    }

    & .contactInfo {
      /* background-color: blue; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50%;
      width: 80%;

      & .contactLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & a {
          text-decoration: none;
          display: flex;
          align-items: center;
          & svg {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
