.experiencePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experienceCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  margin: 10px;
}

.companyExTitle {
  text-align: left;
  font-weight: bolder;
  font-size: 3rem;
}

.experiencePeriod {
  text-align: left;
  font-size: 1rem;
}

.role {
  text-align: left;
  font-size: 1.3rem;
}

.description {
  white-space: pre-line;
}

.responsabilities {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.experienceTechnologies {
  display: flex;
  flex-direction: column;
  & .techTitle {
    font-size: 1.2rem;
    text-align: center;
  }
  & .usedTechnologies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    & .techSvg {
      & svg {
        width: 1.7rem;
        height: 1.7rem;
      }
    }
  }
}

.backButton {
  align-self: flex-start;
  margin: 20px;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.backButton:hover {
  background-color: #ccc;
  border-color: #999;
  color: #0f0f0f;
}
